.base-card {
  padding: rem-calc(16px);

  border: 1px solid $border;
  border-radius: rem-calc(3px);

  &__title {
    font-size: rem-calc(18px);
    font-weight: $fontWeightMedium;

    margin-bottom: rem-calc(18px);
  }
}
