$background: #101014;
$border: rgba(255, 255, 255, 0.09);
$card: #18181c;
$error: #b61c1c;
$info: #70c0e8;
$inputBackground: #303033;
$inputFocusBackground: #252e2e;
$inputFocusBackgroundError: #2e2525;
$inputPlaceholderColor: #6c6c6f;
$primary: #63e2b7;
$warning: #f2c97d;

$fontPrimary: 'Montserrat', sans-serif;
$fontPrimaryColor: rgba(255, 255, 255, 0.82);
$fontSize: 14px;
$fontWeightBold: 700;
$fontWeightLight: 300;
$fontWeightMedium: 500;
$fontWeightNormal: 400;
