$background: #101014;
$border: rgba(255, 255, 255, 0.09);
$card: #18181c;
$error: #e88080;
$info: #70c0e8;
$primary: #63e2b7;
$warning: #f2c97d;

$fontPrimary: 'Montserrat', sans-serif;
$fontPrimaryColor: rgba(255, 255, 255, 0.82);
$fontSize: 14px;
$fontWeightBold: 700;
$fontWeightLight: 300;
$fontWeightNormal: 400;
