* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $fontSize;
}

body {
  font-family: $fontPrimary;
  font-weight: $fontWeightNormal;
  color: $fontPrimaryColor;
  overflow-x: hidden;
}
