.base-input {
  $self: &;

  display: flex;
  flex-direction: column;

  &--left {
    flex-direction: row;
    align-items: flex-start;

    #{ $self }__label {
      margin: rem-calc(8px) rem-calc(12px) 0 0;
    }
  }

  &__label {
    margin-bottom: rem-calc(4px);
  }

  &__container {
    position: relative;

    &:hover {
      #{$self}__input:not(:disabled) {
        border: 1px solid $primary;
      }
    }
  }

  &__input {
    width: 100%;
    height: rem-calc(34px);
    padding: 0 rem-calc(12px);

    background-color: $inputBackground;
    border: 1px solid transparent;
    border-radius: 3px;

    font-family: $fontPrimary;
    color: $fontPrimaryColor;

    will-change: border;
    transition: all 0.15s ease-out;

    &:focus {
      outline: none;
      border: 1px solid $primary;
      background-color: $inputFocusBackground;
    }

    &::placeholder {
      color: $inputPlaceholderColor;
      font-weight: $fontWeightMedium;
    }

    &:disabled {
      color: $iconColor;
      pointer-events: none;
    }

    &--invalid {
      border: 1px solid $error;

      &:hover {
        border: 1px solid $error;
      }

      &:focus {
        border: 1px solid $error;
        background-color: $inputFocusBackgroundError;
      }
    }

    &--password {
      padding-right: rem-calc(42px);
    }
  }

  &__suffix {
    position: absolute;
    right: rem-calc(16px);
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 1rem;
      cursor: pointer;
    }

    &__controls {
      will-change: fill;
      transition: fill 0.15s ease-out;

      &:hover {
        fill: $primary;
      }

      &--minus {
        margin: 0 rem-calc(3px);
      }

      &--disabled {
        fill: $iconColor;

        cursor: default;
        pointer-events: none;
      }
    }

    &__clear {
      opacity: 0;
      pointer-events: none;

      will-change: opacity, fill;
      transition: opacity 0.15s ease-out, fill 0.15s ease-out;

      &--visible {
        opacity: 1;
        pointer-events: unset;

        &:hover {
          fill: $primary;
          cursor: pointer;
        }
      }
    }
  }

  &__error {
    font-size: rem-calc(11px);
    font-weight: $fontWeightMedium;
    color: $error;
  }

  &__wrapper {
    width: 100%;
  }
}
